#body{
	width: 800px;
margin-left: 250px;
	background-color: #FFFFCC;
}
#body2{
	width:800px;
	margin-left: 250px;
	background-color: #A06D21;
	background-image: "image/hinh-nen-3d-bong-da-tophinhpro.blogspot.com-4756.jpg"
}